@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);

        /* Desplazamiento hacia abajo */
    }
}

.carousel-item {
    background-color: #f8f9fa;

    /* Color de fondo */
    color: #333;

    /* Color del texto */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40;

    /* Color de los íconos de control */
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;

    /* Ancho de los botones de control */
}

.carousel-control-prev,
.carousel-control-next {
    transition: opacity 0.5s ease-in-out;

    /* Transición suave para los botones de control */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.7;

    /* Opacidad reducida al pasar el ratón */
}

/* Animation on first load */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation: fadeInDown 1s;
}

/* Custom styles for carousel */

.carousel-inner {
    transition: transform 0.5s ease;
}

.carousel-item {

    h1,
    h2,
    p {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease, transform 1s ease;
    }

    &.active {

        h1,
        h2,
        p {
            opacity: 1;
            transform: translateY(0);
        }
    }

    img {
        border-radius: 10px;
    }
}

/* Animation on first load */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1.5s ease-in-out;
}

.carousel-item {
    img {
        max-width: 100%;

        /* Asegura que la imagen no sea más ancha que el contenedor */
        max-height: 500px;

        /* Ajusta esto a la altura máxima deseada para tus imágenes */
        object-fit: cover;

        /* Cubre el área del contenedor sin romper la proporción */
    }

    height: 500px;

    /* Ajusta esto a la altura máxima deseada para el carrusel */
    overflow: hidden;

    /* Oculta cualquier parte de la imagen que exceda el contenedor */
}


.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-item {
    transition: transform 0.5s ease-in-out;

    img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease-in-out;
    }

    &.active img {
        transform: scale(1.05);
    }
}

.text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.shadow-lg {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.rounded-circle {
    border-radius: 50%;
}

.zoomIn {
    animation: zoomIn 0.5s;
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}